<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Secrets</title>
    <script
      src="https://kit.fontawesome.com/dbe365c79f.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/bootstrap-social.css" />
    <link rel="stylesheet" href="css/styles.css" />
  </head>

  <body>

<header>
    
    <div class="px-3 py-2 border-bottom mb-3">
      <div class="container d-flex flex-wrap align-items-center justify-content-between navbar-light">
        <a href="/" class="navbar-brand d-flex align-items-center dark">
          <path
            d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"
          />
          <circle cx="12" cy="13" r="4" />
        </svg>
        <strong>Secrets</strong>
      </a>

        <div class="text-end">
          <a href="/login"><button type="button" class="btn btn-light text-dark me-2">Login</button></a>
          <a href="/register"><button type="button" class="btn btn-dark">Sign-up</button></a>
        </div>
      </div>
    </div>
  </header>