<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
    <link rel="stylesheet" href="css/styles-profile.css" />
    <link rel="icon" href="images/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Roboto+Serif&family=Sacramento&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Serif&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="div-1">
      <img class="cloud1" src="images/cloud.png" alt="image of cloud" />
      <h1 class="h1-1">I'm Jamal.</h1>
      <h2 class="h2-1">a programmer.</h2>
      <img class="cloud2" src="images/cloud.png" alt="image of cloud" />
      <img src="images/mountain.png" alt="image of mountain" />
    </div>
    <img class="myPic" src="images/jamal.jpg" alt="jamal's picture" /><br />
    <div class="hello-row">
      <h2>Hello.</h2>
      <p>
        I'm a software developer and a IT student at INIM University in Algeria
      </p>
    </div>

    <hr />
    <div class="skills-row">
      <h2>My Skills.</h2>
      <div class="design-dev-row">
        <img class="pc-pic" src="images/computer.png" alt="computer-img" />
        <h3>I can use the computer</h3>
        <p>
          I know how to use a computer and how to turn it on, as well as
          browsing the internet, i can watch netflix all day too.
        </p>
      </div>
      <div class="hot-row">
        <img class="chill-pic" src="images/chillies.png" alt="chillies-pic" />
        <h3>Algerian 7ar</h3>
        <p>
          7na les Algerians makach li ytbelana melakhr, mkach li ytiya7 b
          Lalgiri ghir 7na li nty7o bbladna mlgri ssa7 tay7a bina fi had lblad
          mi hamdou lilah.
        </p>
      </div>
    </div>
    <hr />
    <div class="contact-row">
      <h2>Get In Touch.</h2>
      <h3>if you love programming sleeping you are my best friend.</h3>
      <p>
        Love Programmign as much as I do? Let's talk about how intresting it is!
        We can code together and exchange knowlage and experiance.
      </p>

      <p>
        <a href="/about"
          ><button class="contact-button" type="button">CONTACT ME</button></a
        >
      </p>
    </div>
    <div class="bottom-div">
      <div class="bottom-countent">
        <a class="linkedin-a" href="https://youtu.be/-sfSD4iwEwQ"
          ><h3 class="linkedin-h3">tinDog</h3></a
        >
        <a class="twitter-a" href="https://www.youtube.com/shorts/SzfX9DUzwGg"
          ><h3 class="twitter-h3">only friends</h3></a
        >
        <a class="website-a" href="https://github.com/JamelSyh"
          ><h3 class="website-h3">github</h3></a
        >
        <p class="about-p">© 2022 Jamal Sayah @ The Greatest Programmer</p>
      </div>
    </div>
  </body>
</html>
