<% if ( isAuth ) { %> 
  <%- include('partials/profile-header') %> 
<% } else { %>
  <%- include('partials/guest-header') %> 
<% } %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Our secrets</h1>

    <% for (let i = 0; i < secret.length; i++) { %> <% for (let j = 0; j <
    secret[i].secret.length; j++) { %>
    <div class="card text-white bg-secondary mb-3" style="max-width: 100rem">
      <div class="card-header">Someone</div>
      <div class="card-body">
        <h5 class="card-title"><%= secret[i].secret[j] %></h5>
      </div>
    </div>
    <%}%> <%}%>

    <hr />
    <div class="card-body"></div>
    <a class="btn btn-dark btn-lg" href="/submit" role="button"
      >Submit a Secret</a
    >
  </div>
</div>

<%- include('partials/footer') %>
